function Elephant.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Elephant.getMemAddress 0
push argument 0
pop pointer 0
push constant 16384
push this 0
add
return
function Elephant.getRow 0
push argument 0
pop pointer 0
push this 0
push constant 32
call Math.divide 2
return
function Elephant.getCol 0
push argument 0
pop pointer 0
push this 0
push this 0
push constant 32
call Math.divide 2
push constant 32
call Math.multiply 2
sub
return
function Elephant.draw 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Elephant.drawNormal 1
pop temp 0
label IF_FALSE0
push this 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Elephant.drawMirrorHorizontal 1
pop temp 0
label IF_FALSE1
push this 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Elephant.drawRotateRight 1
pop temp 0
label IF_FALSE2
push this 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Elephant.drawMirrorVertical 1
pop temp 0
label IF_FALSE3
push this 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Elephant.drawRotateLeft 1
pop temp 0
label IF_FALSE4
push constant 0
return
function Elephant.erase 1
push argument 0
pop pointer 0
push pointer 0
call Elephant.getMemAddress 1
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Elephant.moveLeft 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.getCol 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Elephant.erase 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Elephant.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Elephant.moveRight 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.getCol 1
push constant 31
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Elephant.erase 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Elephant.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Elephant.moveUp 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.getRow 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Elephant.erase 1
pop temp 0
push this 0
push constant 32
sub
pop this 0
push pointer 0
call Elephant.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Elephant.moveDown 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.getRow 1
push constant 240
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Elephant.erase 1
pop temp 0
push this 0
push constant 32
add
pop this 0
push pointer 0
call Elephant.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Elephant.setNormal 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.erase 1
pop temp 0
push constant 0
pop this 1
push pointer 0
call Elephant.draw 1
pop temp 0
push constant 0
return
function Elephant.flipHorizontal 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.erase 1
pop temp 0
push constant 1
pop this 1
push pointer 0
call Elephant.draw 1
pop temp 0
push constant 0
return
function Elephant.rotateRight 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.erase 1
pop temp 0
push constant 2
pop this 1
push pointer 0
call Elephant.draw 1
pop temp 0
push constant 0
return
function Elephant.flipVertical 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.erase 1
pop temp 0
push constant 3
pop this 1
push pointer 0
call Elephant.draw 1
pop temp 0
push constant 0
return
function Elephant.rotateLeft 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.erase 1
pop temp 0
push constant 4
pop this 1
push pointer 0
call Elephant.draw 1
pop temp 0
push constant 0
return
function Elephant.getLocation 0
push argument 0
pop pointer 0
push this 0
return
function Elephant.setLocation 0
push argument 0
pop pointer 0
push pointer 0
call Elephant.erase 1
pop temp 0
push argument 1
pop this 0
push pointer 0
call Elephant.draw 1
pop temp 0
push constant 0
return
function Elephant.getMode 0
push argument 0
pop pointer 0
push this 1
return
function Elephant.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Elephant.drawNormal 1
push argument 0
pop pointer 0
push pointer 0
call Elephant.getMemAddress 1
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15872
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31200
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24304
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32508
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31486
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28157
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28669
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4404
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3788
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3788
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3788
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Elephant.drawRotateRight 1
push argument 0
pop pointer 0
push pointer 0
call Elephant.getMemAddress 1
pop local 0
push local 0
push constant 0
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1020
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1020
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1984
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 14204
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 14076
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16128
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15328
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8160
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32
call Memory.poke 2
pop temp 0
push constant 0
return
function Elephant.drawRotateLeft 1
push argument 0
pop pointer 0
push pointer 0
call Elephant.getMemAddress 1
pop local 0
push local 0
push constant 0
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2040
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2012
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 252
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16236
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16108
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 792
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16320
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16320
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 768
call Memory.poke 2
pop temp 0
push constant 0
return
function Elephant.drawMirrorVertical 1
push argument 0
pop pointer 0
push pointer 0
call Elephant.getMemAddress 1
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 124
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1950
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3962
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16254
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32606
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16458
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16394
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 13175
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 13168
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 13168
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 13168
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Elephant.drawMirrorHorizontal 1
push argument 0
pop pointer 0
push pointer 0
call Elephant.getMemAddress 1
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 13168
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 13168
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 13168
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 13175
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16394
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16458
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32606
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16254
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3962
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1950
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 124
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
